define hostgroup {
    hostgroup_name          linux-servers
    alias                   Linux Servers
    members                 rtr1, ns1, ns2, ansible, monitor, db1, db2, db3, app1, app2, app3, lb1, lb2, lb3
}

define hostgroup {
    hostgroup_name          db-servers
    alias                   Database Servers
    members                 db1, db2, db3
}

define hostgroup {
    hostgroup_name          web-servers
    alias                   Web Servers
    members                 app1, app2, app3
}

define hostgroup {
    hostgroup_name          loadbalancers
    alias                   Loadbalancers
    members                 lb1, lb2, lb3
}
